body {
    background: black !important;
}

/* Hide 3D scene and menu until login */
#container,
#menu {
    display: none;
}

a {
    color: #8ff;
}

#menu {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

/* ---- ELEMENT CARD ---- */
.element {
    width: 180px;
    height: 260px;
    box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
    border: 1px solid rgba(127,255,255,0.25);
    font-family: Helvetica, sans-serif;
    text-align: center;
    cursor: default;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

/* Hover effect */
.element:hover {
    box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
    border: 1px solid rgba(127,255,255,0.75);
}


.element .details {
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    font-size: 12px;
    color: rgba(255,255,255,0.85);
    line-height: 1.2;  
    padding: 3px;     
}

.element img {
    width: 100%;
    height: 320px;   
    object-fit: cover;
}

/* ---- BUTTONS ---- */
button {
    color: rgba(127,255,255,0.75);
    background: transparent;
    outline: 1px solid rgba(127,255,255,0.75);
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0,255,255,0.5);
}

button:active {
    color: #000000;
    background-color: rgba(0,255,255,0.75);
}





